/* Common styles */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


body {
    font-family: 'Poppins', sans-serif;
    
    background-color: white;
}

.container {
    width: 1120px;
    margin: 30px 0;
    
}
main {
    display: flex;
    justify-content: center;
    

}

.banner-content {
    color: #ffff;
    width: 50%;
    padding-left: 50px;
}

.banner-content h1 {
    font-size: 64px;
    font-weight: 700;
    line-height: 70px;
    margin-bottom: 20px;
}
.banner-content p{
    font-weight: 400px;
    font-size: 15px;
    margin-bottom: 20px;
    line-height: 22px;
}
.banner-content button{
    padding: 10px 30px;
    background-color: red;
    border: none;
    border-radius: 5px;
    color: white;
    
}

.banner-content button i{
    color: white;
    padding-left: 10px;
    z-index: 88;
}

/* Banner styles */
.top-banner {
    
    border-radius: 30px;
    padding: 20px 10px 0;
    margin-bottom: 30px;
    background-color: #161616;
    align-items: center;
    display: flex;
    justify-content: center;
    width: 100%;
    
}

.banner-image {
    padding-left: 20px;
    width: 581px;
    display: flex;
    justify-content: center;
    width: 50%;
    
}
.banner-image img{
    height: 400px;
    
}

/* blog styls */
.blogs {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    row-gap: 30px;


}

.blog-title {
    background-color: #161616;
    height: 265px ;
    border-radius: 10px;
}

.blog-title a {
    display: block;
    padding: 15px 5px;
    color: #161616;
    background-color: white;
    text-align: center;
    text-decoration: none;
    margin: 10px 35px 19px;
    font-size: 16px;
    font-weight: 400;
    border-radius: 10px;
    font-size: 20px;
}

.blog-title .btn-1 {
    padding: 15px 5px;
    margin-top: 20px;
}
.blog-title .btn-3{
    background-color: red;
    color: white;
}
.blog {
    margin-left: 20px;
    border: 1px solid rgba(245, 245, 245, 0.788);
    border-radius: 10px;
}

.blog-image img {
    width: 260px;
}

.blog-margin {
    margin-top: 30px;
}
.blog-details{
    padding: 15px 5px;
}
.blog-details h3{
    font-weight: 600px;
    font-size: 16px;
    line-height: 27px;
    margin: 10px 0;
}
.blog-details input{
    padding: 7px 10px;
    background-color: white;
    border: 1px solid black;
    border-radius: 10px;
    font-size: 16px;
    font-weight: 700;
}

.blog-info > span{
    margin-left: 10px;
    margin-right: 10px;
    color: #161616;
}


/* footer css */
footer {
    padding: 10px 40px;
    background-color: #161616;
}

footer > p {
    color: white;
    text-align: center;
    margin: 30px;
    padding-top: 30px;
    font-weight: 600;
    font-size: 30px;
}

hr {
    margin: auto;
    width: 90%;

}

.footer-info {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.footer-info > span{
    color: whitesmoke;
    padding: 21px;
    margin-top: 20px;
    font-weight: 400;
    font-size: 16px;
}


/* media query start */

/* mobile devices */
@media only screen and (max-width: 688px) {
    .container{
        width: 100%;
    }
    .top-banner{
        flex-direction: column;
    }
    .banner-content, .banner-image{
        width: 100%;
    }
    .banner-content{
        text-align: center;
        padding-bottom: 30px;
        padding-left: 0;
    }
    .banner-content h1{
        font-size: 40px;
    }
    .banner-content p span{
        display: none;
    }
    
    .blogs{
        grid-template-columns: repeat(1, 1fr);
        width: 100%;
        justify-content: center;
        padding-left: 0;
        margin-left: 0;
    } 
    .blog-image , .blog-details{
        width: 100%;
    }
    .blog-image img{
        width: 100%;
    }
  
        
    
    .blog-title{
        background-color: white;
    }
    .blog-title a{
        border: 1px solid rgb(153, 153, 153);
        border-radius: 10px;
        padding: 10px 20px;
        margin: 10px 20px;
    }
    .footer-info{
        flex-direction: column;
        align-items: center;
    }
   
}

/* tablet devices */
@media only screen and (min-width: 689px) and (max-width: 992px) {
    .container{
        width: 100%;
    }

    .banner-content h1{
        font-size: 40px;
    }
    .banner-content p span{
        display: none;
    }
    .banner-image{
        padding-left: 10px;
    }
    .blogs{
      grid-template-columns: repeat(2, 1fr);
    } 
    .blog-title{
        height: 50px;
        margin-top: 20px;
        
    }
    .blog-title a{
        display: inline;
        border: 1px solid rgb(153, 153, 153);
        border-radius: 10px;
    }
    .blog-title a{
        margin-left: 60px;
    }
    .blog-title .btn-3{
        padding: 15px 71px;
    }
    .bl-1{
        grid-column: 1 / span 2;
        background-color: white;
    }
    .empty{
        display: none;
    }
    .footer-info{
        flex-direction: row;
        align-items: center;
    }
    .blog{
        width: 100%;
        margin-left: 54px;
    }
    .blog-image{
        width: 50%;

    }
    
    .blog-details{
        width: 50%;
    }
    
}





/* page-2 css */
.blog-image .flag-1{
    width: 100px;
}
.blog-image .flag-2{
    width: 100px;
}
.bl-im2{
    display: flex;
    justify-content: center;
    margin: 15px 0;
}
.bl-im2 span{
    margin: 0 10px;
}
.bl-pg2{
    text-align: center;
}